<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adicionar cliente</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css')}}">
    <script src="https://kit.fontawesome.com/71fde90bd7.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar">
        <a href="/" > Home </a>
        <div class="dropdown">
            <button id="active" class="dropbtn"> Clientes
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/clientes"> Ver todos </a>
                <a href="/clientes/add"> Adicionar </a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"> Chamados
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/chamados"> Ver todos </a>
                <a href="/chamados/add"> Adicionar </a>
            </div>
        </div>
        <a href="/about"> Sobre </a>
        <div style="float: right;" class="dropdown">
            <button style="margin-right: 4px;" class="dropbtn"> Login
              <i class="fa fa-caret-down"></i>
            </button>
            <div style="margin-left: -36px;" class="dropdown-content">
                <a href="/check"> Entrar</a>
                <a href="/logout"> Sair </a>
            </div>
        </div>
    </div>

    <div class="content">
        <h1 class="title"> Adicionar novo cliente:</h1>
        <div>
             <form method="POST" action="/clientes/add">
                 <h4 class="form-title"> Cliente:</h4>
                 <input class="user-input" type="text" name="cpf" placeholder="Cpf">
                <input class="user-input" type="text" name="nome" placeholder="Nome">
                <input class="user-input" type="text" name="sobrenome" placeholder="Sobrenome">
                <input class="user-input" type="text" name="telefone" placeholder="Telefone">
                <h4 class="form-title"> Endereco:</h4>
                <input class="user-input" type="text" name="cidade" placeholder="Cidade">
                <input class="user-input" type="text" name="rua" placeholder="Rua">
                <input class="user-input" type="number" name="numero" placeholder="Numero">
                <input class="submit-input" type="submit" value="Adicionar cliente">
            </form>

        </div>

    </div>
</body>
</html>