<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <script src="https://kit.fontawesome.com/71fde90bd7.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar">
        <a href="/" > Home </a>
        <div class="dropdown">
            <button id="active" class="dropbtn"> Clientes
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/clientes"> Ver todos </a>
                <a href="/clientes/add"> Adicionar </a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"> Chamados
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/chamados"> Ver todos </a>
                <a href="/chamados/add"> Adicionar </a>
            </div>
        </div>
        <a href="/about"> Sobre </a>
        <div style="float: right;" class="dropdown">
            <button style="margin-right: 4px;" class="dropbtn"> Login
              <i class="fa fa-caret-down"></i>
            </button>
            <div style="margin-left: -36px;" class="dropdown-content">
                <a href="/check"> Entrar</a>
                <a href="/logout"> Sair </a>
            </div>
        </div>
    </div>

    <div class="content">
        <h1 class="title"> Clientes </h1>
        {% block content %}
        {% if data %}
        <input class="filter-table" type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por cpf">
            <table id="myTable" style="width:100%" >
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Cpf</th>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Telefone</th>
                        <th>Cidade</th>
                        <th>Rua</th>
                        <th>Numero</th>
                  </tr>
                </thead>
                <tbody>
                {% for item in data %}
                    <tr>
                        <td><a class="link" href="/clientes/id={{ item['id'] }}">{{ item['id'] }}</a></td>
                        <td><a class="link" href="/clientes/edit={{ item['id'] }}">{{ item['cpf'] }}</a></td>
                        <td>{{ item['nome'] }}</td>
                        <td>{{ item['sobrenome'] }}</td>
                        <td>{{ item['telefone'] }}</td>
                        <td>{{ item['endereco']['cidade'] }}</td>
                        <td>{{ item['endereco']['rua'] }}</td>
                        <td>{{ item['endereco']['numero'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% endblock content %}
    </div>
<script>
    function myFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");

      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
</script>

</body>
</html>