{% extends "base.html" %}
    {% block content %}

        {% block head %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css')}}">
        {% endblock %}

        <div class="content">
            <h1 class="title"> Editar chamado: </h1>
            <div>
                 <form method="POST" action="/chamados/edit={{ chamado['id'] }}">
                    <input class="user-input" type="text" name="assunto" value="{{ chamado['assunto'] }}">
                    <input class="user-input" type="text" name="pedido" value="{{ chamado['pedido'] }}">
                    <select  class="select-form" name="estado">
                        <option value="" selected disabled hidden>Selecione o estado</option>
                        <option value="Em aberto">Em aberto</option>
                        <option value="Em aguardo">Em aguardo</option>
                        <option value="Concluido">Concluido</option>
                    </select>
                    <input class="submit-input" type="submit" value="Salvar">
                    <input class="delete-input" type="submit" value="Apagar" formaction="/chamados/delete={{ chamado['id'] }}">
                </form>

            </div>

        </div>
    {% endblock %}